//! **************************************************************************
// Written by: Map P.20131013 on Tue Jul 17 18:11:17 2018
//! **************************************************************************

SCHEMATIC START;
COMP "clk_vga" LOCATE = SITE "B8" LEVEL 1;
COMP "rst_vga" LOCATE = SITE "G18" LEVEL 1;
COMP "v_out_vga" LOCATE = SITE "U3" LEVEL 1;
COMP "h_out_vga" LOCATE = SITE "T4" LEVEL 1;
NET "clk_vga_BUFGP/IBUFG" BEL "clk_vga_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

