//! **************************************************************************
// Written by: Map P.20131013 on Mon Jul 16 14:53:11 2018
//! **************************************************************************

SCHEMATIC START;
NET "clk_top_BUFGP/IBUFG" BEL "clk_top_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

